#header {
    display:flex;
    height:170px;
    background-color:#639FD2;
    z-index:1;
}
.text-header {
      display: flex;
    margin-left: -20;
   
}
.img_top {
    display:flex;
    margin:45 140 ;
  }

.p-header {
    margin-top:50;
    font-size: 17;
    font-family: Arial;
    color:white;
    font-weight: bold;
    line-height: 1.5;
}
a {
text-decoration: underline;
color: white
}

a:hover {
    color:#0e202e;
    
}



#big_img {
    width: 500px;
    height:450px;
    border: 5px solid black;
}
#img_1 {
    border: 5px solid red; 
}

.small_img {
    text-align:center;
    height:100px;
    width:117px;
    border:5px solid black;
    }

.body {
    margin:auto;
    width:550px
}